###############################
# General
###############################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*~
*.tmp
.tmp/
temp/

###############################
# Logs
###############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

###############################
# Node / Package managers
###############################
node_modules/
**/node_modules/
.pnp.*
.pnpm-store/
**/.pnpm-store/


###############################
# Caches
###############################
.cache/
**/.cache/
.vite/
**/.vite/
.eslintcache
*.tsbuildinfo

###############################
# Coverage
###############################
coverage/
.nyc_output/

###############################
# Environment files
###############################
.env
.env.*
!.env.example

###############################
# IDE / Editor
###############################
.idea/
.vscode/
*.iml
.history